.login-container {
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    background-color: #f8f9fa;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    padding: 40px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
/* #dbe5e9
#09253b
#40a5d7
#157cb8
#2f6082
#4b5c63
#8c8c94 */

.btn-primary {
    background-color: #40a5d7;
    border-color: #40a5d7
    
;
}

.btn-primary:hover {
    background-color: #2f6082
    ;
    border-color: #2f6082;
}

.link, .link:hover {
    text-decoration: none;
    color: #007bff;
}



.animation-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lottie-animation {
    width: 125px;
    height: 125px; /* Adjust width and height as needed */
  }
  