.navbar {
    position: relative;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    z-index: 10000;
   

  }
  
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    color: #09253b;
    transition: 0.3s ease;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
    ;
  }
 
  .search-input {
    position: relative;
    right: 0;
    font-size: 1.18rem;
    padding: 0.5rem;
    width: 250px;   
  }
 
  .search-button {
    position: absolute;
    top:  50%;  
    right: -10px; 
    color: #8c8c94;
    transition: transform 0.3s ease;
    transform: translateY(-50%);

  }

  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    
  }
  
  .cart-icon {
    color: #09253b;
    position: sticky;
    margin-left: 1rem;
    font-size: 2.5em;
    transition: transform 0.3s ease;
    
  }
  .cart-icon:hover {
    transform: scale(1.25);
    
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /*intensity of the bounce */
    }
  }
  
  .cart-icon-animation {
    color: #09253b;
    margin-left: 1rem;
    font-size: 2.5em;
    transition: transform 0.2s ease;
    animation: bounce 0.5s ease-in-out infinite; 
  }
  
    @media (max-width: 768px) {
    .navbar-nav {
      display: none;
    }
    .search-input {
      width: 100%;
    }
    .search-button {
      width: 100%;
    }
  }
  


.greeting-animation {
  
  position: absolute;
  z-index: -1;
  
  width: 100px;
  height: 100px; 
}

.greeting-text {
  color: #09253b;
  z-index: 1;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Whisper', cursive;
}

.logo-navbar {
  width: 100px;
  height: auto; 
  transition: transform 0.4s ease-in-out;
  display: inline-block; 
  animation: swing-and-spin 2s ease-in-out 1;
  
}

.logo-navbar:hover {
  animation: swing-and-spin 2s ease-in-out 0.1s;
}

@keyframes swing-and-spin {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg); 
  }
  80% {
    transform: rotate(360deg); 
  }
}



ul {
  list-style-type: none; 
}