.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
  }
  
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    color: #092237;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    color: #103959
    ;
  }
  
  .search-form {
    position: relative;
  }
  
  .search-input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    width: 250px;
  }
  
  .search-button {
    position: absolute;
    right: 1;
    top: 1;
    bottom:1;
    border: none;
    background-color: #092237;
    color: #8c8c94;
    padding: 0 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    font-size: 1rem;
  }
  
  .search-button:hover {
    background-color: #8c8c94;
    color:#092237;
    


  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
  }
  
  .cart-icon {
    color: #092237;
    margin-left: 1rem;
    font-size: 2.5em;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .navbar-nav {
      display: none; /* or convert to a dropdown for smaller screens */
    }
    .search-input {
      width: 100%; /* Adjust search bar width for small screens */
    }
    .search-button {
      width: 100%;
    }
  }
  

  


  /* Assuming the file is Navbar.css */

.greeting-container {
  display: flex;
  align-items: center;
  position: relative;
}

.greeting-animation {
  position: absolute;
  right: 28px;
  z-index: -1;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}

.greeting-text {
  z-index: 1;
  /* Add any additional styling for the text here */
  /* For example, if you want a nice font: */
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  /* Adjust the font properties as needed */
}



.logo-navbar {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* This will maintain the aspect ratio */
}
